.my_message {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0078d7;
    color: white;
}

.message {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e1f5fe;
    color: rgb(1, 9, 20);
}

.pseudo {
    font-size: 0.8rem;
    color: #0078d7;
    font-weight: bold;
}